<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    <div class="container font-italic">
        <div class="row">
            <div class="col-6 mt-3">
                <h1 class="hoverParrafo">German Diaz</h1>
                <br>
                <h3>Desarrollador Full-Stack </h3>
                <h3>Analista de datos</h3>
                <br>
                <p>soy desarrollador Full-Stack y analista de datos. He trabajado con front-end y back-end. He tenido la
                    oportunidad de desempeñarme en
                    tecnologias como JavaScript, Python, TypeScript, Java. Bases de datos SQL, NoSQL como mariaDB,
                    PostgresSql, MongoDB.
                    Frameworks como ReactJS, Angular, Django, NodeJs, Express. Tecnologias de analitica de datos como
                    Pyspark, Kafka, Hdfs, Apache y
                    sus derivados. Gestores de versiones como Git - GitHub y BitBucket. Maquetacion y estilos HTML y CSS
                </p>
                <br>
                <br>
                <h3>Mas de mi</h3>
                <p>Soy un apasionado la tecnologia y el arte. desde muy pequeño me he interesado por la informatica,
                    siempre he tenido curiosodad por los limites
                    de la misma y hasta donde nos llevará, no dudo que nuestro futuro está dictado por los avances
                    tecnologicos que podamos llegar a realizar. Mi
                    objetivo es poder aportar mi granito de arena a todo este camino.
                </p>
                <p>
                    Me atraen los temas investigativos, desarrollar ideas innovadoras, aprender constantemente es lo que
                    siempre trato de hacer en mi dia a dia,
                    pues el conocimiento es parte fundamental de mi escencia.
                </p>
                <p>Mi otra pasion es la musica, me gusta tocar instrumentos, sobre todo de cuerdas y mi sueño en este
                    hobby
                    es llegar a tocar algun dia en una banda.
                </p>
            </div>
            <div class="col-6 centrar-texto contenedorDerecha">
                <div class="container contenedorDerechaSecundario">
                    <div class="container col-10 mt-3">
                        <img src="../assets/germanImagen.jpg" alt="imagen german" width="150">
                    </div>
                    <div class="container">
                        <h3>Contactame</h3>
                        <div class="container texto-izquierda">
                            <h5>Edad: {{edad}}</h5>
                            <h5>Email: {{email}}</h5>
                            <h5>Telefono: {{telefono}}</h5>
                        </div>
                    </div>
                    <div class="container texto-izquierda">
                        <div class="container row mb-1">
                            <button class=" btn btnPrincipal" (click)="enviarMensajeWhatsapp()"><i
                                    class="bi bi-whatsapp"></i> Enviame un mensaje</button>
                        </div>
                        <div class="container row">
                            <button class="btn btnPrincipal" (click)="descargarCurriculum()"><i
                                    class="bi bi-download"></i> Descargar cv</button>
                        </div>
                    </div>
                </div>
                <div class="container mt-4 texto-izquierda">
                    <h2 class="hoverParrafo">Habilidades</h2>
                    <div style="width: 95%;">
                        <p class="porcentajes">html: 95%</p>
                    </div>
                    <div style="width: 95%;">
                        <p class="porcentajes">css: 95%</p>
                    </div>
                    <div style="width: 90%;">
                        <p class="porcentajes">JavaScript: 90%</p>
                    </div>
                    <div style="width: 83%;">
                        <p class="porcentajes">python: 83%</p>
                    </div>
                    <div style="width: 60%;">
                        <p class="porcentajes">typeScript: 60%</p>
                    </div>
                    <div style="width: 50%;">
                        <p class="porcentajes">java: 50%</p>
                    </div>
                    <div style="width: 67%;">
                        <p class="porcentajes">sql: 67%</p>
                    </div>
                    <div style="width: 72%;">
                        <p class="porcentajes">react: 72%</p>
                    </div>
                    <div style="width: 70%;">
                        <p class="porcentajes">angular: 70%</p>
                    </div>
                    <div style="width: 50%;">
                        <p class="porcentajes">django: 50%</p>
                    </div>
                    <div style="width: 65%;">
                        <p class="porcentajes">node: 65%</p>
                    </div>
                    <div style="width: 80%;">
                        <p class="porcentajes">git: 80%</p>
                    </div>
                    <div style="width: 45%;">
                        <p class="porcentajes">pyspark: 45%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>

</footer>

</html>